body {
    background-color: #ebebeb;
    color: #4d4d4d;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
}

.content{
    margin: 0 auto 50px;
    line-height: 1.2em;
    max-width: 853px;
}

a{
    color:#fa3d7e;
    margin-left: 2px;
}

h1 {
    color: #fa3d7e;
    font-weight: 100;
    margin: 70px 0 10px;
}

.title h1{
    text-align: center;
    font-size: 3em;
    line-height: 0.9em
}

.title h2 {
    text-align: center;
    color: #b9b9b9;
    font-weight: 300;
    margin-bottom: 30px;
    padding: 0;
    line-height: 0.9em;
}

.footer{
   background: none repeat scroll 0 0 #111111;
    color: #666666;
    font-size: 80%;
    padding: 1em;
    text-align: center;
}
div.zug-box{
    text-align: center;
    height: 220px;
}
div.zug-box table.connections {
    margin: 0 auto;
    display: none; 
}
div.loader p {
    color: #a4a4a4;
    margin-top: 0px;
}

div.error{
    display: none;
}
div.error p{
    color: #fa3d7e;
    font-weight: bold;
}
div.center{
    text-align: center;
}
div.center img{
    margin-top: 80px;
    width: 670px;
}
