<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Info about the local train connection.">

    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.2/pure-min.css">
    <link rel="stylesheet" href="../static/main.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>

    {% if title %}
    <title>S1 - {{title}} - Abfahrten</title>
    {% else %}
    <title>S1 - Abfahrten</title>
    {% endif %}
    
    
<script type="text/javascript">
        function appendTrain(train){
          $("#trains").append('<tr>'  + 
                                    '<td>' + train.departure_time + '</td>' + 
                                    '<td>' + train.delay + '</td>' + 
                               '</tr>');
        }
        $.getJSON("/connections/", function(data){
            var trains = [];
            trains = data;
            console.log(trains instanceof Array);
            trains.forEach( appendTrain );
        });
        
</script>


</head>
<body>

    <div class="content">
    
        <div class="title">
            <h1>Kommt die verkackte S1?</h1>
            <h2>Wissen wann die scheiß Bahn von der Uni abfährt. Ist geiler als warten.</h2>
        </div>
        

            <p>
            </p>

        <div class="pure-g-r">
        <div class="pure-u-1-2 center">
            <div class="zug-box" id="connections">
                <h3>Richtung Dortmund</h3>
                <table class="pure-table pure-table-striped connections">
                    <thead>
                        <tr>
                            <th>Abfahrt</th>
                            <th>Verspätung</th>
                        </tr>
                    </thead>

                    <tbody id="trains">
                        <tr>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="pure-u-1-2 center">
            <div class="zug-box">
                <h3>Richtung Solingen</h3>
                <table class="pure-table pure-table-striped connections">
                    <thead>
                        <tr>
                            <th>Abfahrt</th>
                            <th>Verspätung</th>
                        </tr>
                    </thead>

                    <tbody id="trains">
                        <tr>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="pure-u-1">
            <img class="center" src="http://25.media.tumblr.com/tumblr_lq1axvzHGT1r1oee5o1_1280.jpg"
                 alt="Sample image of a meeting for a responsive image example.">
        </div>
    </div>

    </div>
    <div class="footer">
     Hosted by Heroku. Made with <a href="www.python.org" > Python 3.3+</a>  and <a href="http://flask.pocoo.org/" >Flask</a>. F+!"§rk me on <a href="https://github.com/mackaiver" > Github</a>. See <a href="www.woistbier.de" >woistbier.de</a> for some  pretty beer! 
    </div>
        

</body>
</html>