<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Info about the local train connection.">

    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.2/pure-min.css">
    <link rel="stylesheet" href="../static/main.css">

    {% if title %}
    <title>S1 - {{title}} - Abfahrten</title>
    {% else %}
    <title>S1 - Abfahrten</title>
    {% endif %}
</head>
<body>

    <div class="content">
    
        <div class="title">
            <h1>Kommt die verkackte S1?</h1>
            <h2>Wissen wann die Bahn kommt. Weil ist geiler als warten.</h2>
        </div>
        

            <p>
            </p>

        <div class="pure-g-r">
        <div class="pure-u-1-2">
            <div class="zug-box">
                <h3>Richtung Dortmund</h3>
                <p>
                    YUI's lightweight core and modular architecture make it scalable, fast, and robust. Built by frontend engineers at Yahoo!, YUI powers the most popular websites in the world.
                </p>
            </div>
        </div>

        <div class="pure-u-1-2">
            <div class="zug-box">
                <h3>Richtung Solingen</h3>
                <p>
                    YUI's intuitive and well-documented API takes you from basic DOM handling to building performant and maintainable applications on desktop browsers, mobile devices, and servers.
                </p>
            </div>
        </div>
        <div class="pure-u-1">
            <img class="center" src="http://25.media.tumblr.com/tumblr_lq1axvzHGT1r1oee5o1_1280.jpg"
                 alt="Sample image of a meeting for a responsive image example.">
        </div>
    </div>

    </div>
    <div class="footer">
     Hosted by Heroku. Made with <a href="www.python.org" > Python 3.3+</a>  and <a href="http://flask.pocoo.org/" >Flask</a>. F+!"§rk me on <a href="https://github.com/mackaiver" > Github</a>. See <a href="www.woistbier.de" >woistbier.de</a> for some  pretty beer! 
    </div>
        

</body>
</html>