<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Info about the local train connection.">

    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.2/pure-min.css">
    <link rel="stylesheet" href="../static/main.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>

    <title>S1 - Abfahrten</title>
    
    
<script type="text/javascript">
        function appendTrain(train, direction){
          $("#trains_" + direction).append('<tr>'  +
                                    '<td>' + train.departure_time + '</td>' + 
                                    '<td>' + train.delay + '</td>' + 
                               '</tr>');
          $("div.loader#"+direction).hide();
          $("table.connections#"+direction).fadeIn();
        }
    
        function displayError(direction){
            $("div.loader#"+direction).hide();
            $("div.error#"+direction).fadeIn();
        }
        function fetch(direction){
            $.getJSON("/connections/?direction=" + direction, function(data){
                var trains = [];
                trains = data;
                //wenns ein array ist haben wir bestimmt ne richtige antwort bekommen
                if (trains instanceof Array){
                    trains.forEach( function (element, index, array) {
                            appendTrain(element, direction);
                    });
                } else {
                    displayError(direction);
                }
                
            }) .fail(function() { //falls die getJson fehl schlägt.
                 displayError(direction);
            });
        }
        function start(){
            fetch("dortmund")
            fetch("solingen")
        }
        //keine klammern hintern den funktionsdingsie. sonst wirds sofort ausgeführt
        $( document ).ready( start );
        
</script>


</head>
<body>

    <div class="content">
        <div class="title">
            <h1>Kommt die verkackte S1?</h1>
            <h2>Wissen wann die scheiß Bahn von der Uni abfährt
                <br>
                Ist geiler als warten.</h2>
        </div>
        

            <p>
            </p>

        <div class="pure-g-r">
        <div class="pure-u-1-2 zug-box">
                <h3>Richtung Dortmund</h3>
                <div class="loader" id="dortmund"> 
                    <img src="../static/loader.gif">
                    <p>Lädt...</p>
                </div>
                <div class="error" id="dortmund"> 
                    <p>X</p>
                    <p>Kaputt.</p>
                </div>
                <table class="pure-table pure-table-striped connections" id="dortmund">
                    <thead>
                        <tr>
                            <th>Abfahrt</th>
                            <th>Verspätung</th>
                        </tr>
                    </thead>

                    <tbody id="trains_dortmund">
                        <tr>
                        </tr>
                    </tbody>
                </table>
        </div>

        <div class="pure-u-1-2 zug-box">
                <h3>Richtung Solingen</h3>
                <div class="loader" id="solingen"> 
                    <img src="../static/loader.gif">
                    <p>Lädt...</p>
                </div>
                <div class="error" id="solingen"> 
                    <p>X</p>
                    <p>Kaputt.</p>
                </div>
                <table class="pure-table pure-table-striped connections" id="solingen">
                    <thead>
                        <tr>
                            <th>Abfahrt</th>
                            <th>Verspätung</th>
                        </tr>
                    </thead>

                    <tbody id="trains_solingen">
                        <tr>
                        </tr>
                    </tbody>
                </table>
        </div>
        <div class="pure-u-1 center">
            <img src="http://25.media.tumblr.com/tumblr_lq1axvzHGT1r1oee5o1_1280.jpg"
                 alt="Image of Muenster HBF.">
        </div>
    </div>

    </div>
    <div class="footer">
     Hosted by Heroku. Made with <a href="http://www.python.org" > Python 3.3+</a>  and <a href="http://flask.pocoo.org/" >Flask</a>. F+!"§rk me on <a href="https://github.com/mackaiver" > Github</a>. See <a href="http://woistbier.de" >woistbier.de</a> for some  pretty beer! 
    </div>
        

</body>
</html>